<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="xoops_lib/vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/unit/phpunit_bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         failOnDeprecation="false"
         failOnWarning="false">
    <testsuites>
        <testsuite name="legacyclass">
            <directory>./tests/unit/class</directory>
        </testsuite>
        <testsuite name="kernel">
            <directory>./tests/unit/kernel</directory>
        </testsuite>
        <testsuite name="xmflib">
            <directory>./tests/unit/xoopsLib/Xmf</directory>
        </testsuite>
        <testsuite name="xoopslib">
            <directory>./tests/unit/xoopsLib/Xoops</directory>
            <file>./tests/unit/xoopsLib/XoopsTest.php</file>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./htdocs/kernel</directory>
            <directory suffix=".php">./xoops_lib/Xmf</directory>
            <directory suffix=".php">./xoops_lib/Xoops</directory>
            <file>./xoops_lib/Xoops.php</file>
        </include>
    </source>
</phpunit>
